.box {
  position: relative;
  border: 1px solid #eba320;
  padding: 30px;

  &::before {
    content: "sass worked";
    background-color: rgb(0, 255, 106);
    display: block;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
